@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("/styles/infoPhotographer.css");
:root{
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
    --tertiary-color: #DB8876;
    --font:"DM Sans", "sans-serif";
    --padding-lr: 110px;
    --border-radius: 3px;
}

*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    font-family: var(--font);
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 50px;
}
header{
    display: flex;
    color: var(--primary-color);
    justify-content: space-between;
    /*align-items: center;*/
    
    padding-left: var(--padding-lr);
    padding-right: var(--padding-lr);
    
} & img{
    width: 150px;
} & p{
    font-size: 25px;
}

.profiles-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100px;
    row-gap: 100px;
}
.profiles-container a{
    text-decoration: none;
    color: black;
}
.profile-card{
    text-align: center;
} 
.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    
}
.profile-card h2{
    color: var(--secondary-color);
}
.profile-description{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 5px;
}
.name{
    color: var(--secondary-color);
    font-size: 28px;
}
.location{
    color: var(--primary-color);
    font-size: 14px;
    
}
.description{
    font-size: 14px;
    font-weight: 400;
}
.price{
    font-size: 14px;
    font-weight: 200;
}
