html,body{
    margin: 0;
    padding: 0;
}
#infophotographer_container{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
}
/****DEBUT DU HEADER****/
.header_infophotographer{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    gap: 40px;
}

.header_content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    height: 35vh;
    gap: 310px;
}

.header_content img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}
.photographer_description{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.photographer_description .name{
    font-size: 40px;
}
.photographer_description .location{
    font-size: 20px;
}
.photographer_description .tagline{
    font-size: 15px;
    font-weight: 300;
    color: #525252;
}
button{
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 15px;
    border-radius: var(--border-radius);
    font-weight: 550;
    font-family: var(--font);
    cursor: pointer;
} 
/***FIN DU HEADER****/

/****DEBUT DE LA MODAL FORM****/
.popupBackground{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.form_container{
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; 
    align-items: center;
    width: 450px;
}
.form_header{
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}
.form_header span{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 450; 
}
.form_header img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.contact_photographer_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formData{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    
}
.formData input{
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
}
.formData textarea{
    resize: none;
    outline: none;
    padding-left: 4px;
    
}
.error_message{
    color: red;
    font-size: 15px;
}
.contact{
    display: flex;
    align-items: center;
}
.submit_btn{
    background-color: var(--primary-color);
    border: none;
    padding: 12px 25px;
    color: white;
    border-radius: var(--border-radius);
    font-family: var(--font);
    width: 100px;
    text-align: center;
   
}
/******FIN DE LA MODALFORM******/



/***DEBUT DU MAIN****/

/*** DEBUT DU SORT***/
.sort_container{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.sort_label{
    font-weight: 600;
}
.dropdown{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 400;
    width: 150px;
    cursor: pointer;
}
.dropdown_selected{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    background-color: var(--primary-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 12px;
}
.chevron_up{
    display: block;
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}
.dropdown_menu{
    background-color: var(--primary-color);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    margin: 0;
    padding: 0;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    display: none;
}
.dropdown_option{
    border-top: solid 2px white;
    width: 90%;
    padding: 12px;
    justify-self: center;
}
.dropdown_option:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.dropdown.active .dropdown_menu{
    display: block;
}
.dropdown.active .chevron_up{
   transform: rotate(180deg);
} 
.dropdown_selected{
    display: flex;
    align-items: center;
}
.close_modalform{
width: 35px;
height: 35px;
} 
/*******FIN DU SORT********/

/******LIGHTBOX MODAL*******/
.lightbox_container{
    position: fixed;
    display: none; 
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
} 
.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.slide_background {
    background-color: #FAFAFA;
    position: relative;  
    padding: 20px 30px; 
    width: 70%;
    height: 85%;
    border-radius: var(--border-radius);
    margin: auto; 
    margin-top: 40px;
}

.slide_background_img {
    width: 50%; 
    height: 100% !important;
    object-fit: cover;
    border-radius: var(--border-radius); 
    display: flex;  
    margin: auto;
}

.slide_background span {
    color: var(--secondary-color);
    position: absolute;
    left: 30%;
} 

.left_arrow,
.right_arrow {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 250;
    display: block;
}

.left_arrow {
    left: 25%;
}

.right_arrow {
    right: 25%;
}

.close_lightboxmodal {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 250;
}   
/******FIN LIGHTBOX******/

/****MEDIA CONTAINER******/
main{
    padding-left: 70px;
    padding-right: 70px;
}
.media_image, .media_video{
    width: 350px;
    height: 300px;
    border-radius: var(--border-radius);
    object-fit: cover;
}
.media_container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    row-gap: 30px;
    margin-top: 20px;
} 
.media_description{
    display: flex;
    justify-content: space-between;
    color: var(--primary-color)
}
.likes {
    display: flex;
    gap: 4px;
    align-items: center;
} 
.likes img {
    width: 16px;
    height: 16px;
}
/******FIN DU MEDIA CONTAINER****/

/***********FOOTER********/
.footer {
    justify-self: flex-end;
    align-self: flex-end;
}

.footer_button {
    background-color: #DB8876;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 20px;
    font-weight: 500;
}

.footer_button_likes {
    display: flex;
    align-items: center;
    gap: 1px;
}

.footer_button_likes img {
    width: 20px;
    height: 16px;
}
